<h1>Secret Items</h1>
<a href="/items/new" class="btn btn-success">New Items</a>
<div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" ng-model="search">
</div>
<div class="well" ng-repeat="item in items | filter:{title:search} track by item._id">
    <h1>{{recipe.title}}</h1>
    <a ng-href="/items/{{items._id}}">Permalink</a>
    <a ng-click="deleteItems(item._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
</div>
